env:
  singleUserMode: "true"
  registration: {}
  # emailDomainBlacklist: "example1.com|example2.com"
  # emailDomainWhitelist: "example1.com|example2.com"
  defaultLanguage: "en"
  smtp:
    server: "YOUR_SMTP_SERVER"
    port: "587"
    login: "YOUR_LOGIN_ACCOUNT"
    address: "YOUR_MAIL_ADDRESS"
    opensslVerifyMode: "none"
    domain: "YOUR_SERVER_DOMAIN"
  assets: {}
  # paperclipRootPath: "/var/lib/mastodon/public-system"
  # paperclipRootUrl: "system"
  # cdnHost: "assets.example.com"
  s3: {}
  # enabled: "true"
  # bucket: "dummy"
  # awsAccessKeyId: "dummy"
  # awsSecretAccessKey: "dummy"
  # region: "dummy"
  # protocol: "http"
  # hostname: "192.168.1.123:9000"
  # endpoint: "dummy"
  vapid: {}
  # privateKey: abc
  # publicKey: def

web:
  name: web
  image: ghcr.io/glitch-soc/mastodon
  imageTag: sha256:28e5d2f7105ac79e23b4eef5912745e68e38eb39c45fb4a282e6c80203898770
  imagePullPolicy: IfNotPresent
  servicePort: 80
  containerPort: 3000
  concurrency: 5
  maxThreads: 5
  logLevel: info
  keepMediaDays: 7
  maintenanceHour: 3
  ingress:
    host: SET_YOUR_DOMAIN
    clusterIssuer: issuerName
  persistentVolume:
    enabled: true
    system:
      accessMode: ReadWriteMany
      size: 8Gi
    assets:
      accessMode: ReadWriteMany
      size: 8Gi
  resources:
    requests:
      memory: 256Mi
      cpu: 100m
streaming:
  name: streaming
  image: ghcr.io/glitch-soc/mastodon
  imageTag: sha256:28e5d2f7105ac79e23b4eef5912745e68e38eb39c45fb4a282e6c80203898770
  imagePullPolicy: IfNotPresent
  servicePort: 4000
  containerPort: 4000
  clusterSize: 5
  resources:
    requests:
      memory: 256Mi
      cpu: 100m
sidekiq:
  name: sidekiq
  image: ghcr.io/glitch-soc/mastodon
  imageTag: sha256:28e5d2f7105ac79e23b4eef5912745e68e38eb39c45fb4a282e6c80203898770
  imagePullPolicy: IfNotPresent
  parallelism: 16
  resources:
    requests:
      memory: 256Mi
      cpu: 100m
redis:
  name: redis
  image: redis
  imageTag: 6.2.6-alpine
  imagePullPolicy: IfNotPresent
  servicePort: 6379
  containerPort: 6379
  # You need to create PV beforehead.
  persistentVolume:
    accessMode: ReadWriteOnce
    size: 8Gi
  resources:
    requests:
      memory: 256Mi
      cpu: 100m
postgres:
  name: postgres
  image: postgres
  imageTag: 14.2-alpine
  imagePullPolicy: IfNotPresent
  containerPort: 5432
  servicePort: 5432
  env:
    postgres_user: "postgres"
    pguser: "postgres"
    postgres_db: ""
    pgdata: "/var/lib/postgresql/data/pgdata"
  # You need to create PV beforehead.
  persistentVolume:
    accessMode: ReadWriteOnce
    size: 8Gi
  resources:
    requests:
      memory: 256Mi
      cpu: 100m
  metrics:
    enabled: false
    image: "wrouesnel/postgres_exporter"
    imageTag: "v0.1.1"
    imagePullPolicy: IfNotPresent
    resources:
      requests:
        memory: 256Mi
        cpu: 100m

secrets:
  postgresPassword: dummy
  redisPassword: dummy
  paperclipSecret: dummy
  secretKeyBase: dummy
  otpSecret: dummy
  smtpPassword: dummy
